{%- from "macros/modal.html" import render_modal -%}

{% macro render_keynote(keynote, alt, size=6) %}
<div class="col-lg-{{ size }} col-xl-{{ size }}">
    <div class="keynote">
        <div class="text-center">
            <a data-bs-toggle="modal" href="#{{ keynote._id }}">
                <img class="img changebgonhover"
                {% if keynote.avatar_hover %}
                data-hover="{{ keynote.attachments.images.get(keynote.avatar_hover)|url }}"
                {% endif %}
                data-src="{{ keynote.attachments.images.get(keynote.avatar)|url }}"
                src="{{ keynote.attachments.images.get(keynote.avatar)|url }}"
                width=250 height=285 alt="{{ keynote.name }}" />
            </a>
            <a data-bs-toggle="modal" href="#{{ keynote._id }}">
                <h3 class="text-center">
                    {{ keynote.name }}
                    <button type="button" class="btn btn-light btn-circle">+</button>
                </h3>
            </a>
            <p class="text-center">{{ keynote.company }} - {{ keynote.job }}</p>
        </div>
    </div>
    {{ render_modal(palestrante=keynote, alt=alt) }}
</div>

{% endmacro %}

