{%- from "macros/translation.html" import transbag -%}

{% macro render_keynote_schedule(keynote, alt, hide_links) %}
{%- set _tr_beginner = transbag('schedule', alt, 'beginner') -%}
{%- set _tr_intermediate = transbag('schedule', alt, 'intermediate') -%}
{%- set _tr_advanced = transbag('schedule', alt, 'advanced') -%}
{%- set _tr_all = transbag('schedule', alt, 'all') -%}

<tr data-schedule-time="{{ keynote.presentation_time }}" style="color: #fff; background-color: #12A348;">
  <td> Keynote </td>
  <td>
    {% if keynote.level|lower == 'principiante' %}{{ _tr_beginner }}
    {% elif keynote.level|lower == 'intermediário' %}{{ _tr_intermediate }}
    {% elif keynote.level|lower == 'avançado' %}{{ _tr_advanced }}
    {% else %}{{ _tr_all }}{% endif %}
  </td>
  <td>
    <a data-bs-toggle="modal" class="schedule-link" href="#{{ keynote._id }}">KEYNOTE - {{ keynote.name|upper }}</a>
  </td>
  <td></td>
  <td>
    {% if keynote.language == 'pt' %}<span class="badge bg-secondary" alt="Portuguese">PT</span>
    {% elif keynote.language == 'es' %}<span class="badge bg-secondary" alt="Spanish">ES</span>
    {% elif keynote.language == 'en' %}<span class="badge bg-secondary" alt="English">EN</span>
    {% endif %}
  </td>
  {% if hide_links %}
  <td>
      <a href="{{ keynote.youtube_channel }}" alt="{{ keynote.discord_channel }}"><i class="bi bi-youtube" style="font-size: 2rem;color: #dc3545;"></i></a> {{ keynote.track }}
      <a href="{{ keynote.youtube_channel }}" alt="{{ keynote.discord_channel }}"><i class="bi bi-discord" style="font-size: 2rem;color: #4458E5;"></i></a> {{ keynote.track }}
  </td>
  {% endif %}
</tr>
{% endmacro %}
