{% macro render_other_schedule(talk, hide_links) %}
<tr style="color: #3c3c3b;background-color: #f5f5f5;">
  <td class="d-none d-xs-table-cell d-sm-table-cell d-md-table-cell"></td>
  <td class="d-none d-xs-table-cell d-sm-table-cell d-md-table-cell"></td>
  <td class="d-none d-xs-table-cell d-sm-table-cell d-md-table-cell" style="max-width: 200px">
    {{ talk.title|upper }}
  </td>
  <td class="d-table-cell d-xs-none d-sm-none d-md-none">
    {{ talk.title|upper }}
  </td>
  <td></td>
  {% if hide_links %}
    <td></td>
  {% endif %}
</tr>
{% endmacro %}
