{%- from "macros/translation.html" import transbag -%}

{% macro render_talk_schedule(talk, alt, hide_links) %}
{%- set _tr_talk = transbag('schedule', alt, 'talk') -%}
{%- set _tr_tutorial = transbag('schedule', alt, 'tutorial') -%}

{%- set _tr_beginner = transbag('schedule', alt, 'beginner') -%}
{%- set _tr_intermediate = transbag('schedule', alt, 'intermediate') -%}
{%- set _tr_advanced = transbag('schedule', alt, 'advanced') -%}
{%- set _tr_all = transbag('schedule', alt, 'all') -%}

<tr data-schedule-time="{{ talk.presentation_time }}">
  <td>
    {% if talk.type == 'talk' %}{{ _tr_talk }}
    {% elif talk.type == 'tutorial' %}{{ _tr_tutorial }}
    {% endif %}
  </td>
  <td>
    {% if talk.level|lower == 'principiante' %}{{ _tr_beginner }}
    {% elif talk.level|lower == 'intermediário' %}{{ _tr_intermediate }}
    {% elif talk.level|lower == 'avançado' %}{{ _tr_advanced }}
    {% else %}{{ _tr_all }}{% endif %}
  </td>

  <td>{{ talk.title }}</td>
  <td>
    <a data-bs-toggle="modal" href="#{{ talk._id }}"><span class="schedule-name">{{ talk.name }}</span></a>
  </td>
  <td>
    {% if talk.language == 'pt' %}<span class="badge bg-secondary" alt="portuguese/português/portugués">PT</span><span class="badge bg-danger d-none" alt="Live">portuguese português portugués</span>
    {% elif talk.language == 'es' %}<span class="badge bg-secondary" alt="spanish/espanhol/español">ES</span><span class="badge bg-danger d-none" alt="Live">spanish espanhol español</span>
    {% elif talk.language == 'en' %}<span class="badge bg-secondary" alt="english/inglês/inglés">EN</span><span class="badge bg-danger d-none" alt="Live">english inglês inglés</span>
    {% endif %}
  </td>
  {% if hide_links %}
  <td>
      {% if talk.type == 'talk' %}
      <a href="{{ talk.youtube_channel }}" alt="{{ talk.discord_channel }}"><i class="bi bi-youtube" style="font-size: 2rem;color: #dc3545;"></i> </a> <p>{{ talk.discord_channel }}</p>
      {% else %}
      <!-- <a href="{{ talk.youtube_channel }}" alt="{{ talk.discord_channel }}"><i class="bi bi-discord" style="font-size: 2rem;color: #4458E5;"></i> </a> <p>{{ talk.discord_channel }}</p> -->
      {% endif %}
  </td>
  {% endif %}
</tr>
{% endmacro %}
