{%- from "macros/palestrante.html" import render_palestrante -%}
{%- set palestrantes = site.get('/palestrantes', alt=this.alt).children -%}

<div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
        {% for ps in grouped(palestrantes, 8) %}
        {% set loop_ = loop.index %}
        <div class="carousel-item {% if loop_ == 1 %}active{% endif %}" style="min-height:650px;">
            <div class="row">
                {% for p in ps %}
                    {% if p %}
                        {{ render_palestrante(p) }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
  </div>
</div>

<div class="carousel-indicators">
    {% for ps in grouped(palestrantes, 8) %}
    {% set loop_ = loop.index %}
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ loop.index0 }}" {% if loop_ == 1 %}class="active"{% endif %} aria-current="true" aria-label="Slide {{ loop.index }}"></button>
    {% endfor %}
</div>
