{%- from "macros/keynote.html" import render_keynote -%}
{%- set keynotes = site.get('/keynotes', alt=this.alt).children -%}

<div id="keynotes" class="basic-2 bg-keynotes">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <h1 class="keynotes-title">Keynotes</h1>
            </div>
            {% for ks  in grouped(keynotes, 2) %}
                {%- set key_1, key_2 = ks -%}
                {% if key_1 and key_2 %}
                    {{ render_keynote(key_1) }}
                    {{ render_keynote(key_2) }}
                {% else %}
                    {{ render_keynote(key_1, size=12) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
