<div id="palestrantes" class="basic-2 bg-keynotes">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <h1 class="keynotes-title">Palestrantes</h1>
            </div>
            <div class="col-lg-12 col-xl-12">
                {% include "section-palestrantes-carousel.html" %}
            </div>
            <div class="col-lg-12 col-xl-12 text-center">
                <a class="btn-solid-lg" href="{{ '/grade-programacao/'|url(alt=this.alt) }}"> Grade Programação <i class="bi bi-box-arrow-in-up-right"></i></a>
            </div>
        </div>
    </div>
</div>
